@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

thead{
  background: #005294;
  color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.active{
  color: white;
  font-weight: 400;
  background-color: #00C09E;
}

/* Kiểu thanh cuộn ngang */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 100rem;
}

/* Kiểu thanh cuộn dọc */
*::-webkit-scrollbar-track {
  background-color: #e2e9ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #008d73;
}